<form>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.currentRoll" }}</label>
        <div>{{ currentRollInfo.formula }}</div>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.attributeUsed" }}</label>
        <div>{{ currentRollInfo.attribute }}</div>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.attributeDices" }}</label>
        <div>{{ currentRollInfo.attributeDices }}</div>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.superiority" }}</label>
        <div>{{ currentRollInfo.superiority }}</div>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.inferiority" }}</label>
        <div>{{ currentRollInfo.inferiority }}</div>
    </div>
    <line></line>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.attributeLevelBonus" }}</label>
        <div>{{ currentRollInfo.attributeLevelBonus }}</div>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.attributeBonus" }}</label>
        <div>{{ currentRollInfo.attributeBonus }}</div>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.reserveMalus" }}</label>
        <div>{{ currentRollInfo.reserveMalus }}</div>
    </div>
    <div class="form-group">
        <label>Others</label>
        <div>TODO</div>
    </div>
    <line></line>
    <br>

    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.skillUsed" }}</label>
        <select name="skillUsed">
            <option value="">{{localize "sphera.dialog.skillCheck.noSkillUsed" }}</option>
            {{#each currentRollInfo.skills as |skill|}}
                <option value="{{skill.baseName}}">{{skill.displayName }}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.skillBonus" }}</label>
        <input type="number" name="skillBonus" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.superiority" }}</label>
        <input type="number" min="0" name="superiority" value="{{ currentRollInfo.superiority }}" />
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.inferiority" }}</label>
        <input type="number" min="0" name="inferiority" value="{{ currentRollInfo.inferiority }}" />
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.difficulty" }}</label>
        <input type="number" min="0" name="difficulty" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.useReserve" }}</label>
        <input type="checkbox" name="useReserve"/>
    </div>
    <div class="form-group">
        <label>{{localize "sphera.dialog.skillCheck.reserveToUse" }}</label>
        <input type="number" min="0" name="reserveToUse" value="0" />
    </div>
</form>