<form class="actor-sheet {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="system.name" type="text" value="{{actor.name}}" placeholder="{{localize 'sphera.name'}}" data-dtype="String" /></h1>
    </header>
    
    <div class="">
        <h2>
            <input type="checkbox" name="system.sheetActions.isEditMode" {{#if system.sheetActions.isEditMode}}checked{{/if}}/>
            {{#if system.sheetActions.isEditMode }}
                EditMode
            {{else}}
                Not EditMode
            {{/if}}
        </h2>
    </div>
    <div class="tab characteristics active" data-group="primary" data-tab="characteristics">
        {{!-- Characteristics Scores --}}
        <div class="grid grid-6col">
            <h1>Tab1 - Characteristics</h1>
            <table>
                <tr>
                    <th colspan="4">{{localize 'sphera.characteristics.reserve.title'}}</th>
                    <th colspan="5">{{localize 'sphera.characteristics.title'}}</th>
                </tr>
                <tr>
                    <th rowspan="2">
                        {{#if system.sheetActions.isEditMode }}
                            <input type="checkbox" style="transform: scale(0.75)" name="system.reserve.physical.maxOverride" {{#if system.reserve.physical.maxOverride}}checked{{/if}}/>
                        {{/if }}
                        {{localize 'sphera.characteristics.reserve.physical'}}
                    </th>
                    <td class="reserve-physical-cur" rowspan="2">
                        {{#if system.sheetActions.isEditMode }}
                            <input name="system.reserve.physical.current" data-tooltip="{{ localize "sphera.sheet.reserve.current" }}" type="number" style="width: 25px; text-align: center;" value="{{system.reserve.physical.current}}" placeholder="10"/>
                        {{else}}
                            {{#if (isGreater system.reserve.physical.current system.reserve.physical.maxDisplayed) }}
                                <div style="color: forestgreen;">{{ system.reserve.physical.current }}</div>
                            {{else}}
                                {{#if (isLess system.reserve.physical.current system.reserve.physical.halfUp) }}
                                <div style="color: red;">{{ system.reserve.physical.current }}</div>
                                {{else}}
                                <div>{{ system.reserve.physical.current }}</div>
                                {{/if}}
                            {{/if}}
                        {{/if }}
                        
                    </td>
                    <td class="reserve-physical-max" rowspan="2">/
                        {{#if system.sheetActions.isEditMode }}
                            <input name="system.reserve.physical.max" data-tooltip="{{ localize "sphera.sheet.reserve.max" }}" type="number" style="width: 25px; text-align: center;" value="{{system.reserve.physical.max}}" placeholder="10" {{#unless system.reserve.physical.maxOverride}}disabled="disabled"{{/unless}} />
                            <input name="system.reserve.physical.bonus" data-tooltip="{{ localize "sphera.sheet.reserve.bonus" }}" type="number" style="width: 25px; text-align: center;" value="{{system.reserve.physical.bonus}}" placeholder="0"/>
                        {{else}}
                            {{ system.reserve.physical.maxDisplayed }}
                        {{/if }}
                    </td>
                    <td rowspan="2">
                        {{#if (notEquals system.reserve.physical.malus 0) }}
                            {{#if (isGreater system.reserve.physical.malus 0) }}
                                +{{ system.reserve.physical.malus }}
                            {{else}}
                            {{ system.reserve.physical.malus }}
                            {{/if}}
                        {{/if}}
                    </td>
                    <th><a class="roll-attribute" data-attribute="strength">{{ localize 'sphera.characteristics.attributes.strength' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="endurance">{{ localize 'sphera.characteristics.attributes.endurance' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="speed">{{ localize 'sphera.characteristics.attributes.speed' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="agility">{{ localize 'sphera.characteristics.attributes.agility' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="address">{{ localize 'sphera.characteristics.attributes.address' }}</a></th>
                </tr>
                <tr>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.strength.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.strength.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.strength.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.strength.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.strength.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.strength.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.strength.dices }}D10{{ system.attributes.strength.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.endurance.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.endurance.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.endurance.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.endurance.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.endurance.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.endurance.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.endurance.dices }}D10{{ system.attributes.endurance.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.speed.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.speed.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.speed.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.speed.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.speed.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.speed.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.speed.dices }}D10{{ system.attributes.speed.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.agility.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.agility.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.agility.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.agility.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.agility.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.agility.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.agility.dices }}D10{{ system.attributes.agility.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.address.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.address.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.address.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.address.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.address.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.address.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.address.dices }}D10{{ system.attributes.address.text }}
                    {{/if}}
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">
                        {{#if system.sheetActions.isEditMode }}
                            <input type="checkbox" style="transform: scale(0.75)" name="system.reserve.mental.maxOverride" {{#if system.reserve.mental.maxOverride}}checked{{/if}}/>
                        {{/if }}
                        {{localize 'sphera.characteristics.reserve.mental'}}
                    </th>
                    <td class="reserve-mental-cur" rowspan="2">
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.reserve.mental.current" data-tooltip="{{ localize "sphera.sheet.reserve.current" }}" type="number" style="width: 25px; text-align: center;" value="{{system.reserve.mental.current}}" placeholder="10"/>
                    {{else}}
                        {{#if (isGreater system.reserve.mental.current system.reserve.mental.maxDisplayed) }}
                            <div style="color: forestgreen;">{{ system.reserve.mental.current }}</div>
                        {{else}}
                            {{#if (isLess system.reserve.mental.current system.reserve.mental.halfUp) }}
                            <div style="color: red;">{{ system.reserve.mental.current }}</div>
                            {{else}}
                            <div>{{ system.reserve.mental.current }}</div>
                            {{/if}}
                        {{/if}}
                    {{/if }}
                    </td>
                    <td class="reserve-mental-max" rowspan="2">/
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.reserve.mental.max" data-tooltip="{{ localize "sphera.sheet.reserve.max" }}" type="number" style="width: 25px; text-align: center;" value="{{system.reserve.mental.max}}" placeholder="10" {{#unless system.reserve.mental.maxOverride}}disabled="disabled"{{/unless}} />
                        <input name="system.reserve.mental.bonus" data-tooltip="{{ localize "sphera.sheet.reserve.bonus" }}" type="number" style="width: 25px; text-align: center;" value="{{system.reserve.mental.bonus}}" placeholder="0"/>
                    {{else}}
                        {{ system.reserve.mental.maxDisplayed }}
                    {{/if }}
                    </td>
                    <td rowspan="2">
                    {{#if (notEquals system.reserve.mental.malus 0) }}
                        {{#if (isGreater system.reserve.mental.malus 0) }}
                            +{{ system.reserve.mental.malus }}
                        {{else}}
                        {{ system.reserve.mental.malus }}
                        {{/if}}
                    {{/if}}
                    </td>

                    <th><a class="roll-attribute" data-attribute="charisma">{{ localize 'sphera.characteristics.attributes.charisma' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="perception">{{ localize 'sphera.characteristics.attributes.perception' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="intellect">{{ localize 'sphera.characteristics.attributes.intellect' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="willpower">{{ localize 'sphera.characteristics.attributes.willpower' }}</a></th>
                    <th><a class="roll-attribute" data-attribute="magic">{{ localize 'sphera.characteristics.attributes.magic' }}</a></th>
                </tr>
                <tr>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.charisma.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.charisma.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.charisma.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.charisma.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.charisma.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.charisma.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.charisma.dices }}D10{{ system.attributes.charisma.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.perception.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.perception.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.perception.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.perception.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.perception.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.perception.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.perception.dices }}D10{{ system.attributes.perception.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.intellect.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.intellect.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.intellect.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.intellect.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.intellect.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.intellect.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.intellect.dices }}D10{{ system.attributes.intellect.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.willpower.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.willpower.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.willpower.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.willpower.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.willpower.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.willpower.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.willpower.dices }}D10{{ system.attributes.willpower.text }}
                    {{/if}}
                    </td>
                    <td>
                    {{#if system.sheetActions.isEditMode }}
                        <input name="system.attributes.magic.dices" data-tooltip="{{ localize "sphera.sheet.dices" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.magic.dices}}" placeholder="3"/>
                        D10 
                        <input name="system.attributes.magic.levelModifiers" data-tooltip="{{ localize "sphera.sheet.levelModifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.magic.levelModifiers}}" placeholder="+0"/>
                        <input name="system.attributes.magic.modifiers" data-tooltip="{{ localize "sphera.sheet.modifiers" }}" type="number" style="width: 25px; text-align: center;" value="{{system.attributes.magic.modifiers}}" placeholder="+0"/>
                    {{else}}
                        {{ system.attributes.magic.dices }}D10{{ system.attributes.magic.text }}
                    {{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{!-- Skill Tab --}}
    <div class="tab items active" data-group="primary" data-tab="items">
        <h1>Tab2 - Skills</h1>
    
    {{#if system.sheetActions.isEditMode }}
        <h2>Skills</h2>
        <table>
            <tr>
                <th colspan="3">{{ localize "sphera.skills.type.combat" }}</th>
                <th colspan="3">{{ localize "sphera.skills.type.craft" }}</th>
                <th colspan="3">{{ localize "sphera.skills.type.social" }}</th>
                <th colspan="3">{{ localize "sphera.skills.type.magic" }}</th>
            </tr>

            {{#each system.skills.all.skillAsArray as |skill index|}}
                <tr>
                    {{#if (notNull skill.combatSkill) }}
                    <td><input type="checkbox" style="transform: scale(0.75)" name="system.skills.combatSkills.{{ skill.combatSkill.baseName }}.owned" {{#if skill.combatSkill.owned}}checked{{/if}}/></td>
                    <td style="width: 150px;">{{ skill.combatSkill.displayName }}</td>
                    <td style="text-align: center; width: 50px">
                        <input name="system.skills.combatSkills.{{ skill.combatSkill.baseName }}.level" data-tooltip="" min="0" type="number" style="width: 25px; text-align: center;" value="{{ skill.combatSkill.level }}" placeholder="0"/>
                    </td>
                    {{else}}
                    <td></td>
                    <td></td>
                    <td></td>
                    {{/if}}

                    {{#if (notNull skill.craftSkill) }}
                    <td><input type="checkbox" style="transform: scale(0.75)" name="system.skills.craftSkills.{{ skill.craftSkill.baseName }}.owned" {{#if skill.craftSkill.owned}}checked{{/if}}/></td>
                    <td style="width: 150px;padding-left: 25px;">{{ skill.craftSkill.displayName }}</td>
                    <td style="text-align: center; width: 50px">
                        <input name="system.skills.craftSkills.{{ skill.craftSkill.baseName }}.level" data-tooltip="" min="0" type="number" style="width: 25px; text-align: center;" value="{{ skill.craftSkill.level }}" placeholder="0"/>
                    </td>
                    {{else}}
                        <td></td>
                        <td></td>
                        <td></td>
                    {{/if}}
                
                    {{#if (notNull skill.socialSkill) }}
                    <td><input type="checkbox" style="transform: scale(0.75)" name="system.skills.socialSkills.{{ skill.socialSkill.baseName }}.owned" {{#if skill.socialSkill.owned}}checked{{/if}}/></td>
                    <td style="width: 150px;padding-left: 25px;">{{ skill.socialSkill.displayName }}</td>
                    <td style="text-align: center; width: 50px">
                        <input name="system.skills.socialSkills.{{ skill.socialSkill.baseName }}.level" data-tooltip="" min="0" type="number" style="width: 25px; text-align: center;" value="{{ skill.socialSkill.level }}" placeholder="0"/>
                    </td>
                    {{else}}
                        <td></td>
                        <td></td>
                        <td></td>
                    {{/if}}

                    {{#if (notNull skill.magicSkill) }}
                    <td><input type="checkbox" style="transform: scale(0.75)" name="system.skills.magicSkills.{{ skill.magicSkill.baseName }}.owned" {{#if skill.magicSkill.owned}}checked{{/if}}/></td>
                    <td style="width: 150px;padding-left: 25px;">{{ skill.magicSkill.displayName }}</td>
                    <td style="text-align: center; width: 50px">
                        <input name="system.skills.magicSkills.{{ skill.magicSkill.baseName }}.level" data-tooltip="" min="0" type="number" style="width: 25px; text-align: center;" value="{{ skill.magicSkill.level }}" placeholder="0"/>
                    </td>
                    {{else}}
                        <td></td>
                        <td></td>
                        <td></td>
                    {{/if}}
                </tr>
            {{/each }}
        </table>
        
    {{else}}
        <h2>Owned Skills</h2>
        <table>
            <tr>
                <th colspan="2">{{ localize "sphera.skills.type.combat" }}</th>
                <th colspan="2">{{ localize "sphera.skills.type.craft" }}</th>
                <th colspan="2">{{ localize "sphera.skills.type.social" }}</th>
                <th colspan="2">{{ localize "sphera.skills.type.magic" }}</th>
            </tr>
            
            {{#each system.skills.owned.skillAsArray as |skill index|}}
            <tr>
                <td style="width: 150px;">{{ skill.combatSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.combatSkill.level }}</td>
                
                <td style="width: 150px;padding-left: 25px;">{{ skill.craftSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.craftSkill.level }}</td>
                
                <td style="width: 150px;padding-left: 25px;">{{ skill.socialSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.socialSkill.level }}</td>
                
                <td style="width: 150px;padding-left: 25px;">{{ skill.magicSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.magicSkill.level }}</td>
            </tr>
            {{/each }}
        </table>
        
        <br><br>
        <h2>Not Owned Skills</h2>
        <table>
            <tr>
                <th colspan="2">{{ localize "sphera.skills.type.combat" }}</th>
                <th colspan="2">{{ localize "sphera.skills.type.craft" }}</th>
                <th colspan="2">{{ localize "sphera.skills.type.social" }}</th>
                <th colspan="2">{{ localize "sphera.skills.type.magic" }}</th>
            </tr>
            
            {{#each system.skills.notOwned.skillAsArray as |skill index|}}
            <tr>
                <td style="width: 150px;">{{ skill.combatSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.combatSkill.level }}</td>
                
                <td style="width: 150px;padding-left: 25px;">{{ skill.craftSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.craftSkill.level }}</td>
                
                <td style="width: 150px;padding-left: 25px;">{{ skill.socialSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.socialSkill.level }}</td>
                
                <td style="width: 150px;padding-left: 25px;">{{ skill.magicSkill.displayName }}</td>
                <td style="text-align: center; width: 50px">{{ skill.magicSkill.level }}</td>
            </tr>
            {{/each }}
        </table>
    {{/if}}
    </div>
    
    <div class="tab items active" data-group="primary" data-tab="items">
        <h1>Tab3 - Tests</h1>
        <a class="test-roll"><i class="fa fa-dice"></i></a>
    </div>
    
    


    <section class="items">
        <h3 class="noborder">
            Owned Items rire
            <a class="item-create" data-type="weapon" title="{{ localize "sphera.sheet.actorFunctions.addItem" }}">
                <i class="fa fa-plus"></i>
            </a>
        </h3>
        <ol class="actor-items">
            {{#each actor.items as |item id|}}
                <li class="actor-item" data-item-id="{{item._id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    
</form>